<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例：小米商城</title>
  <style>
    body{
      margin:0;
    }
    .container{
        width: 1226px;
        margin: 0 auto;
    }
    .header{
      background-color: #333;
    }
    .header .menu{
      float: left;
      color: white;
    }
    .header .account{
      float: right;
      color: white;
    }
    .header a{
      color: #b0b0b0;
      line-height:40px;
      display: inline-block;
      font-size: 12px;
      margin-right:5px;
    }
  </style>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="menu">
            <a href="">小米官网</a>
            <a href="">小米商场</a>
            <a href="">MIUI</a>
            <a href="">IoT</a>
            <a href="">云服务</a>
            <a href="">天星数科</a>
            <a href="">有品</a>
            <a href="">小米开放平台</a>
        </div>
        <div class="account">
            <a href="">登录</a>
            <a href="">注册</a>
            <a href="">消息通知</a>
            <a href="">购物车</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

</body>
</html>